{% extends "SiteBundle::base.html.twig" %}

{% block style %}
    <link rel="stylesheet" href="../../public/css/pages/activite.css" type="text/css" />
{% endblock %}

{% block title  %}{{ activity.name }}{% endblock %}

{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-lg-12" id="ActivitePhoto">
                <img src="../../public/img/jump_park.jpeg" class="photosize">
                <h2 class="BodyTitle">{{ activity.name }}</h2>
            </div>
            <div class="col-lg-12" id="ActiviteDetails">
                <div class="col-md-3">
                    <div class="ProfilBouton">
                        <input class="btn btn-primary" type="submit" value="S'inscrire">
                    </div>
                    <h3>Description</h3>
                    <p>{{ activity.description }}<p>
                    <h3>Informations</h3>
                        <br>
                    <p>Date : 12/05/17</p>
                    <p>Où : {{ activity.location }}</p>
                    <br>
                    <p>Payante : {{ activity.price }}</p>
                </div>
                <div class="col-md-3">
                    <div id="floating-panel">
                        <input id="address" type="textbox" value="Sydney, NSW">
                        <input id="submit" type="button" value="Geocode">
                    </div>
                    <div id="map"></div>
                </div>
            </div>
            <script>
                function initMap() {
                    var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 8,
                        center: {lat: 44.842739, lng: -0.585144}
                    });
                    var geocoder = new google.maps.Geocoder();

                    document.getElementById('submit').addEventListener('click', function() {
                        geocodeAddress(geocoder, map);
                    });
                }

                function geocodeAddress(geocoder, resultsMap) {
                    var address = document.getElementById('address').value;
                    geocoder.geocode({'address': address}, function(results, status) {
                        if (status === 'OK') {
                            resultsMap.setCenter(results[0].geometry.location);
                            var marker = new google.maps.Marker({
                                map: resultsMap,
                                position: results[0].geometry.location
                            });
                        } else {
                            alert('Geocode was not successful for the following reason: ' + status);
                        }
                    });
                }
            </script>
            <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbrk4z_4dEYt-5rXqMhxKbyVCFQogrQj4&callback=initMap">
            </script>
        </div>
    </div>
{% endblock %}